<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GBox.Properties.Settings.GiftBoxStoreConnectionString"
            connectionString="Data Source=hayk-pc;Initial Catalog=For_Tests;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GBox.Properties.Settings.For_TestsConnectionString"
            connectionString="Data Source=vcqra2;Initial Catalog=For_Tests;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GBox.Properties.Settings.For_TestsConnectionString1"
            connectionString="Data Source=Compik;Initial Catalog=For_Tests;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
